{% extends '@ObblmCore/base.html.twig' %}
{% macro printPlayerFieldsRow( versionFields ) %}
    <div class="item">
        {{ form_errors( versionFields ) }}
        <div class="inline fields">
            <div class="field">
                <a href="#" data-item-selector=".item" class="remove-collection-widget pull-right">
                    <i class="ui icon close red"></i>
                </a>
            </div>
            <div class="field">
                {{ form_label( versionFields.player.number, 'obblm.forms.player.fields.number' ) }}
                {{ form_widget( versionFields.player.number ) }}
            </div>
            <div class="field">
                {{ form_label( versionFields.player.type, 'obblm.forms.player.fields.type', {'translation_domain': 'messages'} ) }}
                {{ form_widget( versionFields.player.type, {'attr': {'class': 'ui dropdown'}} ) }}
            </div>
            <div class="field">
                {{ form_label( versionFields.player.name, 'obblm.forms.player.fields.name' ) }}
                {{ form_widget( versionFields.player.name ) }}
            </div>
        </div>
        {{ form_rest( versionFields ) }}
    </div>
{% endmacro %}
{% import _self as formMacros %}
{% block body %}
    <h1 class="ui title">Edit {{ team.name }}</h1>
    <h2>{{ team|roster_name|trans({}, team|rule_key) }}</h2>
    {% form_theme form '@ObblmCore/form/ui-form.html.twig'%}
    {{ form_start( form, {'attr': {'class': 'ui form'}} ) }}
    {{ form_errors( form ) }}
    <div class="field">
        {{ form_label( form.team.name, 'obblm.forms.team.fields.name') }}
        {{ form_widget( form.team.name ) }}
        {{ form_errors( form.team.name ) }}
    </div>
    <div class="two fields">
        <div class="field">
            {{ form_label( form.team.anthem, 'obblm.forms.team.fields.anthem') }}
            {{ form_widget( form.team.anthem ) }}
            {{ form_errors( form.team.anthem ) }}
        </div>
        <div class="field">
            {{ form_label( form.team.fluff, 'obblm.forms.team.fields.fluff') }}
            {{ form_widget( form.team.fluff ) }}
            {{ form_errors( form.team.fluff ) }}
        </div>
    </div>
    <div class="field">
        <label>Treasure</label>
        {% dump( form.vars.value ) %}
        {{ form.vars.value.treasure }}
    </div>
    <div class="field attach-collection-actions">
        <div class="field">
            <button type="button"
                    class="add-another-collection-widget ui button primary"
                    data-list-selector="#players-fields-list">Add another player</button>
        </div>
        <div id="players-fields-list"
            data-prototype="{{ formMacros.printPlayerFieldsRow(form.playerVersions.vars.prototype)|e('html_attr') }}"
            data-widget-counter="{{ form.playerVersions|length }}">
            {% for playerFields in form.playerVersions %}
                {{ formMacros.printPlayerFieldsRow( playerFields ) }}
            {% else %}
                {{ form_widget(form.playerVersions) }}
            {% endfor %}
        </div>
    </div>
    <div class="four fields">
        <div class="field">
            {{ form_label( form.rerolls, 'obblm.forms.team.fields.rerolls') }}
            {{ form_widget( form.rerolls ) }}
            {{ form_errors( form.rerolls ) }}
        </div>
        <div class="field">
            {{ form_label( form.popularity, 'obblm.forms.team.fields.popularity') }}
            {{ form_widget( form.popularity ) }}
            {{ form_errors( form.popularity ) }}
        </div>
        <div class="field">
            {{ form_label( form.cheerleaders, 'obblm.forms.team.fields.cheerleaders') }}
            {{ form_widget( form.cheerleaders ) }}
            {{ form_errors( form.cheerleaders ) }}
        </div>
        <div class="field">
            {{ form_label( form.assistants, 'obblm.forms.team.fields.assistants') }}
            {{ form_widget( form.assistants ) }}
            {{ form_errors( form.assistants ) }}
        </div>
    </div>
    <div class="field">
        <div class="ui checkbox">
            {{ form_widget( form.apothecary ) }}
            {{ form_label( form.apothecary, 'obblm.forms.team.fields.apothecary') }}
        </div>
        {{ form_errors( form.apothecary ) }}
    </div>
    <div class="ui fields aligned center">
        <a class="ui button red" href="{{ path('obblm_team_detail', {'team': team.id}) }}">
            Cancel
        </a>
        <button class="ui button orange" type="submit">
            Save and come back later
        </button>
        {{ form_widget( form.team.ready ) }}
    </div>
    {{ form_rest( form ) }}
    {{ form_end( form ) }}
{% endblock %}
