{% extends '@ObblmCore/base.html.twig'%}

{% macro navigationCollectionToHtml(collection) %}
    {% for item in collection %}
        {% if item|is_collection %}
            <div class="item">
                {% if item.name %}
                    {% if item.icon %}
                        <i aria-hidden="true" class="icon notranslate {{ item.icon }}"></i>
                    {% endif %}
                    <h2 class="title">{{ item.name|trans }}</h2>
                {% endif %}
                <div class="selector">
                    {{ _self.navigationCollectionToHtml(item.collection) }}
                </div>
            </div>
        {% else %}
            <div class="item">
            {% set context = item.parameters ?? {} %}
                <a href="{{ path(item.route, context) }}">
                    {% if item.icon %}
                        <i aria-hidden="true" class="icon notranslate {{ item.icon }}"></i>
                    {% endif %}
                    {% if(item.translationDomain) %}
                        {{ item.link|trans({}, item.translationDomain) }}
                    {% else %}
                      {{ item.link }}
                    {% endif %}
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% import _self as macros %}
{% block body %}
    <div class="form container">
        <h1 class="title">
            {{ 'obblm.forms.team.create.title'|trans }}
        </h1>
        {{ macros.navigationCollectionToHtml(rules_navigation()) }}
    </div>
{% endblock %}