{% extends '@ObblmCore/base.html.twig' %}

{% block body %}
    <nav class="action">
    {% if(is_granted('team.edit', version.team)) %}
        <a href="{{ path('obblm_team_edit', {'team': version.team.id}) }}">Edit</a> -
        <a href="{{ path('obblm_team_delete', {'team': version.team.id}) }}">Delete</a>
    {% endif %}
    </nav>
    <section class="row">
        <header>
            <h1>{{ version.team.name }} ({{ version.tr }})</h1>
        </header>
        {% include '@ObblmCore/team/sheet.html.twig' with { 'team': version.team } %}
        <footer>
            <ul>
                <li>
                    {{ 'Rerolls'|trans }} : {{ version.rerolls }} (x{{ version.team|reroll_cost|price }})
                </li>
                <li>
                    {{ 'Popularity'|trans }} : {{ version.popularity }}
                </li>
                <li>
                    {{ 'Assistants'|trans }} : {{ version.assistants }}
                </li>
                <li>
                    {{ 'Cheerleaders'|trans }} : {{ version.cheerleaders }}
                </li>
                <li>
                    {{ 'Apothecary'|trans }} : {{ version.apothecary|yesno }}
                </li>
                <li>
                    {{ 'Total cost'|trans }} : {{ version.team|calculate_value|price }}
                </li>
            </ul>
        </footer>
    </section>
{% endblock %}
