{% extends '@ObblmCore/base.html.twig' %}

{% block body %}
    <nav class="action">
    {% if(is_granted('team.edit', version.team)) %}
        <a href="{{ path('obblm_team_edit', {'team': version.team.id}) }}">Edit</a> -
        <a href="{{ path('obblm_team_delete', {'team': version.team.id}) }}">Delete</a>
    {% endif %}
    </nav>
    <section class="row">
        <header>
            <h1>{{ version.team.name }} ({{ version.tr }})</h1>
            {# % if team.championship is defined %}
            <h2>{{ team.championship.name }}</h2>
            {% endif % #}
        </header>
        {% include '@ObblmCore/team/sheet.html.twig' with { 'team': version.team } %}
        <footer>
            <ul>
                <li>
                    Rerolls : {{ version.rerolls }} (x{{ version.team|reroll_cost|price }})
                </li>
                <li>
                    Popularity : {{ version.popularity }}
                </li>
                <li>
                    Assistants : {{ version.assistants }}
                </li>
                <li>
                    Cheerleaders : {{ version.cheerleaders }}
                </li>
                <li>
                    Apothecary : {{ version.apothecary|yesno }}
                </li>
                <li>
                    Total cost : {{ version.team|calculate_value|price }}
                </li>
            </ul>
        </footer>
    </section>
{% endblock %}
