<tr>
    {% block number %}<td>{{ player.number }}</td>{% endblock %}
    {% block name %}<td class="left aligned editable">{{ player.name }}</td>{% endblock %}
    {% block type %}<td class="left aligned editable">{{ player|type|trans({}, rule.ruleKey) }}</td>{% endblock %}
    {% block characteristics %}
        <td>{{ player|characteristics('ma') }}</td>
        <td>{{ player|characteristics('st') }}</td>
        <td>{{ player|characteristics('ag') }}</td>
        <td>{{ player|characteristics('av') }}</td>
    {% endblock %}
    {% block skills %}<td class="left aligned">
        {% if player.type %}
            {% set skills = get_player_skills(rule, player) %}
            {% for skill in skills %}
                <span class="skill-tooltip" title="{{ skill.description|trans({}, skill.translationDomain) }}">
                    {{ skill }}{% if loop.index != loop.last %}, {% endif %}
                </span>
            {% else %}
            {{ 'obblm.sheet.table.players.skill_none'|trans({}, 'obblm') }}
            {% endfor %}
        {% endif %}
    </td>{% endblock %}
    {% block injuries %}<td class="left aligned"></td>{% endblock %}
    {% block spp %}<td>{{ player|spp }}</td>{% endblock %}
    {% block value %}<td class="right aligned">{{ player|value|price }}</td>{% endblock %}
</tr>
