<tr>
    {% set player = playerVersion.player %}
    {% block number %}<td>{{ player.number }}</td>{% endblock %}
    {% block name %}<td class="left aligned editable">
        {% if player.position == 'star_players' %}
        {{ position|trans( {}, position.translationDomain ) }}
        {% else %}
        {{ player.name }}
        {% endif %}
        </td>
    {% endblock %}
    {% block position %}<td class="left aligned editable">
        {% if player.position == 'star_players' %}
            {{ position.type|trans( {}, position.translationDomain ) }}
        {% else %}
            {{ position|trans( {}, position.translationDomain ) }}
        {% endif %}</td>
    {% endblock %}
    {% block characteristics %}
        <td>{{ playerVersion|characteristics('ma') }}</td>
        <td>{{ playerVersion|characteristics('st') }}</td>
        <td>{{ playerVersion|characteristics('ag') }}</td>
        <td>{{ playerVersion|characteristics('av') }}</td>
    {% endblock %}
    {% block skills %}<td class="left aligned">
        {% if player.position %}
            {% set skills = get_player_skills(playerVersion) %}
            {% for skill in skills %}
                <span class="skill-tooltip" title="{{ skill.description|trans({}, skill.translationDomain) }}">
                    {{ skill }}{% if loop.index != loop.last %}, {% endif %}
                </span>
            {% else %}
            {{ 'obblm.sheet.table.players.skill_none'|trans({}, 'obblm') }}
            {% endfor %}
            {% set skills = get_additional_player_skills(playerVersion) %}
            <span class="extras">
            {% for skill in skills %}
                <b class="success color skill-tooltip" title="{{ skill.description|trans({}, skill.translationDomain) }}">
                    {{ skill }}{% if loop.index != loop.last %}, {% endif %}
                </b>
            {% endfor %}
            </span>
        {% endif %}
    </td>{% endblock %}
    {% block injuries %}<td class="left aligned"></td>{% endblock %}
    {% block spp %}<td>{{ player|spp }}</td>{% endblock %}
    {% block value %}<td class="right aligned">{{ player|value|price }}</td>{% endblock %}
</tr>
{% block after %}{% endblock %}
