{% extends '@ObblmCore/team/player-line.base.html.twig' %}

{% block characteristics %}
    <td>{{ player|characteristics('ma') }}</td>
    <td>{{ player|characteristics('st') }}</td>
    <td>{% if player|characteristics('pa') %}{{ player|characteristics('pa') }}+{% endif %}</td>
    <td>{% if player|characteristics('ag') %}{{ player|characteristics('ag') }}+{% endif %}</td>
    <td>{% if player|characteristics('av') %}{{ player|characteristics('av') }}+{% endif %}</td>
{% endblock %}
