{% extends '@ObblmCoreApplication/pdf.html.twig' %}

{% block title 'obblm.team.title'|trans({}, 'obblm')
~ ' > ' ~ version.team.name %}
{% block body %}
    <section id="team-sheet" class="container page-jump">
        {% include '@ObblmCoreApplication/partials/flash.html.twig' %}
        <header {% if(version.team.coverFilename) %}class="header has-background" style="background-image: url({{ absolute_url( team_cover(version.team) ) }});"{% else %}class="header"{% endif %}>
            <div class="logo">
                <img alt="{{ version.team.name }}" class="image" src="{{ absolute_url( team_logo(version.team) ) }}">
            </div>
            <div class="content">
                <h1 class="title">{{ version.team.name }}</h1>
                <div class="informations">
                    {% include '@ObblmCoreApplication/team/cardridge.' ~ version.team.rule.template ~ '.html.twig' with { 'version': version } only %}
                </div>
            </div>
        </header>
        <section class="row">
            {% include '@ObblmCoreApplication/team/sheet.html.twig' with { 'version': version } %}
        </section>
    </section>
    <aside class="container">
        {% set title = (version.team.rule.ruleKey ~ '.trait.skill.title')|trans({}, version.team.rule.ruleKey) %}
        <h3 class="title">{{ title }}</h3>
        {% set skills = get_skills_for_sheet(version) %}
        {% include '@ObblmCoreApplication/rules/skills-table.html.twig' with {'skills': skills} %}
    </aside>
{% endblock %}
