<table class="table aligned center lined player-sheet">
    <thead>
        <tr>
            {% block player_head_number %}<th class="number">{{ 'obblm.trait.number.abbr'|trans({}, 'obblm') }}</th>{% endblock %}
            {% block player_head_name %}<th class="left aligned name">{{ 'obblm.trait.name.title'|trans({}, 'obblm') }}</th>{% endblock %}
            {% block player_head_type %}<th class="left aligned position">{{ 'obblm.trait.type.title'|trans({}, 'obblm') }}</th>{% endblock %}
            {% block player_head_characteristics %}<th class="carac">{{ (translation_domain ~ '.trait.ma.abbr')|trans({}, translation_domain) }}</th>
            <th class="carac">{{ (translation_domain ~ '.trait.st.abbr')|trans({}, translation_domain) }}</th>
            <th class="carac">{{ (translation_domain ~ '.trait.ag.abbr')|trans({}, translation_domain) }}</th>
            <th class="carac">{{ (translation_domain ~ '.trait.av.abbr')|trans({}, translation_domain) }}</th>{% endblock %}
            {% block player_head_skills %}<th class="left aligned skills">{{ 'obblm.trait.skill.title'|trans({}, 'obblm') }}</th>{% endblock %}
            {% block player_head_injuries %}<th class="left aligned injuries">{{ 'obblm.trait.injury.title'|trans({}, 'obblm') }}</th>{% endblock %}
            {% block player_head_spp %}<th class="spp">{{ (translation_domain ~ '.trait.spp.abbr')|trans({}, translation_domain) }}</th>{% endblock %}
            {% block player_head_value %}<th class="right aligned value">{{ 'obblm.trait.value.title'|trans({}, 'obblm') }}</th>{% endblock %}
        </tr>
    </thead>
    {% for playerVersion in playerVersions %}
        {% block player_line %}
            {% set position = playerVersion.player|position %}
            {% embed '@ObblmCoreApplication/team/player-line.base.html.twig' with { 'playerVersion': playerVersion, 'position': position } %}{% endembed %}
        {% endblock %}
    {% else %}
        <tr colspan="5">{{ 'No players'|trans({}, 'obblm') }}</tr>
    {% endfor %}
</table>
