{% macro navigationCollectionToHtml(collection) %}
    {% for item in collection %}
        {% if item|is_collection %}
        <div class="item">
            {% if item.name %}
                {% if item.icon %}
                    <i aria-hidden="true" class="icon notranslate {{ item.icon }}"></i>
                {% endif %}
                {{ item.name }}
            {% endif %}
            <div class="menu">
                {{ _self.navigationCollectionToHtml(item.collection) }}
            </div>
        </div>
        {% else %}
        {% set context = item.parameters ?? {} %}
        <a class="item" href="{{ path(item.route, context) }}">
            {% if item.icon %}
            <i aria-hidden="true" class="icon notranslate {{ item.icon }}"></i>
            {% endif %}
            {{ item.link }}
        </a>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% import _self as macros %}
<nav id="navigation" class="menu">
    <a class="item" href="{{ path('obblm.dashboard') }}">
        <i aria-hidden="true" class="icon notranslate mdi mdi-view-dashboard"></i>
        {{ 'obblm.layout.navigation.dashboard'|trans({}, 'obblm') }}
    </a>
    {# <a class="item" href="{{ path('obblm_team_mine') }}">
        <i aria-hidden="true" class="icon notranslate mdi mdi-football"></i>
        {{ 'obblm.layout.navigation.my_teams'|trans({}, 'obblm') }}
    </a> #}
    {{ macros.navigationCollectionToHtml(get_navigation_links()) }}
    {# <a class="item" href="{{ path('my_championships') }}">
        <i aria-hidden="true" class="icon notranslate mdi mdi-trophy-variant"></i>
        My Championships
    </a> #}
    {# <a class="item" href="{{ path('obblm_rules') }}">
        <i aria-hidden="true" class="icon notranslate mdi mdi-ruler-square"></i>
        {{ 'obblm.layout.navigation.rules'|trans({}, 'obblm') }}
    </a> #}
    {% if(is_granted('ROLE_OBBLM_ADMIN')) %}
    {# <div class="item">
        <i class="options icon"></i>
        <i aria-hidden="true" class="v-icon notranslate mdi mdi-options"></i>
        {{ 'obblm.layout.navigation.admin.title'|trans({}, 'obblm') }}
        <div class="menu">
            <a class="item" href="{{ path('admin_rules') }}">
                {{ 'obblm.layout.navigation.admin.rules'|trans({}, 'obblm') }}
            </a>
            <a class="item" href="{{ path('admin_users') }}">
                <i aria-hidden="true" class="icon notranslate user"></i>
                {{ 'obblm.layout.navigation.admin.users'|trans({}, 'obblm') }}
            </a>
            {{ macros.navigationCollectionToHtml(get_admin_links()) }}
        </div>
    </div> #}
    {% endif %}
</nav>
