{% extends '@ObblmCore/base.html.twig' %}

{% block title 'obblm.forms.login.title'|trans({}, 'obblm') %}

{% block body %}
    <div class="container">
        <div class="locale-switcher aligned right">
            {{ 'obblm.layout.locale_switch'|trans({}, 'obblm') }} :
            <ul>
                {% for locale_route in get_available_locales() %}
                    {% if locale_route._locale != app.request.locale %}
                        <li><a href="{{ locale_route.route }}">{{ locale_route._locale }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
        <form method="post" class="form login container">
            <h1 class="title">
                <i class="icon mdi mdi-football"></i>
                {{ 'obblm.forms.login.title'|trans({}, 'obblm') }}
            </h1>
            {% include '@ObblmCore/partials/flash.html.twig' %}
            {% if error %}
                <div class="error message closable clearfix">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="field">
                <label for="inputLogin">
                    <i class="mdi mdi-account icon"></i>
                    {{ 'obblm.forms.coach.fields.username'|trans({}, 'obblm') }}
                </label>
                <input class="like-input" type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" required autofocus>
            </div>
            <div class="field">
                <label for="inputPassword">
                    <i class="mdi mdi-lock icon"></i>
                    {{ 'obblm.forms.coach.fields.password'|trans({}, 'obblm') }}
                </label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <div class="buttons center aligned">
                <button type="submit" class="ui fluid large teal submit button">
                    {{ 'obblm.forms.login.button'|trans({}, 'obblm') }}
                </button>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <input type="hidden" name="_target_path" value="{{ path('obblm_dashboard') }}"/>
        </form>
        <div class="center aligned register">
            {{ 'obblm.forms.register.question'|trans({}, 'obblm') }}
            <a href="{{ path('obblm_register') }}">
                <i class="mdi mdi-account icon"></i>
                {{ 'obblm.forms.register.title'|trans({}, 'obblm') }}
            </a>
        </div>
    </div>
{% endblock %}
