{% extends '@ObblmCore/base.html.twig' %}

{% block title 'obblm.forms.register.title'|trans %}

{% block body %}
    {% form_theme form '@ObblmCore/form/ui-form.html.twig'%}
    {{ form_start( form, {'attr': {'class': 'form register container'}} ) }}
    <h1 class="title">
        <i class="icon mdi mdi-football"></i>
        {{ 'obblm.forms.register.title'|trans }}
    </h1>
    <div class="field">
        {{ form_label( form.username ) }}
        {{ form_widget( form.username ) }}
        {{ form_errors( form.username ) }}
    </div>
    <div class="field">
        {{ form_label( form.email ) }}
        {{ form_widget( form.email ) }}
        {{ form_errors( form.email ) }}
    </div>
    <div>
        <span>{{ form_label( form.plainPassword ) }}</span>
        <div class="two boxes">
            <div class="box field">
                {{ form_label( form.plainPassword.first ) }}
                {{ form_widget( form.plainPassword.first ) }}
                {{ form_errors( form.plainPassword.first ) }}
            </div>
            <div class="box field">
                {{ form_label( form.plainPassword.second ) }}
                {{ form_widget( form.plainPassword.second ) }}
                {{ form_errors( form.plainPassword.second ) }}
            </div>
        </div>
    </div>
    {{ form_rest( form ) }}
    <div class="aligned center">
        <button type="submit" class="button">
            {{ 'obblm.forms.register.register'|trans }}
        </button>
    </div>
    {{ form_end( form ) }}
{% endblock %}