{% extends '@ObblmCore/base.html.twig' %}

{% block title 'obblm.forms.register.title'|trans({}, 'obblm') %}

{% block body %}
    {% form_theme form '@ObblmCore/form/ui-form.html.twig'%}
    {{ form_start( form, {'attr': {'class': 'form register container'}} ) }}
    {% include '@ObblmCore/partials/flash.html.twig' %}
    <h1 class="title">
        <i class="icon mdi mdi-football"></i>
        {{ 'obblm.forms.register.title'|trans({}, 'obblm') }}
    </h1>
    <div class="field">
        {{ form_label( form.username, 'obblm.forms.coach.fields.username' ) }}
        {{ form_widget( form.username ) }}
        {{ form_errors( form.username ) }}
    </div>
    <div class="field">
        {{ form_label( form.email, 'obblm.forms.coach.fields.email'  ) }}
        {{ form_widget( form.email ) }}
        {{ form_errors( form.email ) }}
    </div>
    <div>
        <div>{{ form_label( form.plainPassword, 'obblm.forms.coach.fields.password') }}</div>
        <div class="two boxes">
            <div class="box field">
                {{ form_label( form.plainPassword.first, 'obblm.forms.coach.fields.password'  ) }}
                {{ form_widget( form.plainPassword.first ) }}
                {{ form_errors( form.plainPassword.first ) }}
            </div>
            <div class="box field">
                {{ form_label( form.plainPassword.second, 'obblm.forms.coach.fields.repeat_password'  ) }}
                {{ form_widget( form.plainPassword.second ) }}
                {{ form_errors( form.plainPassword.second ) }}
            </div>
        </div>
    </div>
    <div class="field">
        {{ form_label( form.locale, 'obblm.forms.coach.fields.locale'  ) }}
        {{ form_widget( form.locale ) }}
        {{ form_errors( form.locale ) }}
    </div>
    {{ form_rest( form ) }}
    <div class="aligned center">
        <button type="submit" class="button">
            {{ 'obblm.forms.register.register'|trans({}, 'obblm') }}
        </button>
    </div>
    {{ form_end( form ) }}
{% endblock %}
